In [25]:
import sys
import os
import pandas as pd

sys.path.append(os.path.abspath('../../'))
from mcda.core.functions import Threshold
from mcda.core.scales import QuantitativeScale, PreferenceDirection
from mcda.electre.credibility import get_criteria_counts, credibility_electre_iv
from mcda.electre.outranking.choice import find_kernel
from mcda.electre.outranking import crisp_cut

In [26]:
alternative_names = ["ITA", "BEL", "GER", "AUT", "FRA"]
criteria_names = ["Power", "Safety", "Price"]

performance_table = pd.DataFrame([
    [90, 4, 600],
    [58, 0, 200],
    [66, 7, 400],
    [74, 8, 800],
    [98, 6, 800],
], index=alternative_names, columns=criteria_names)
performance_table

     Power  Safety  Price
ITA     90       4    600
BEL     58       0    200
GER     66       7    400
AUT     74       8    800
FRA     98       6    800

In [27]:
scales = pd.Series([
    QuantitativeScale(0, 100),
    QuantitativeScale(0, 10),
    QuantitativeScale(0, 1000, PreferenceDirection.MIN),
], index=criteria_names)

indifference = pd.Series([
    Threshold(0, 10),
    Threshold(0, 3),
    Threshold(0, 200),
 ], index=criteria_names)

preference = pd.Series([
    Threshold(0, 15),
    Threshold(0, 4),
    Threshold(0, 400),
], index=criteria_names)

veto = pd.Series([
    Threshold(0, 38),
    Threshold(0, 8),
    Threshold(0, 600),
], index=criteria_names)

In [28]:
credibility = credibility_electre_iv(performance_table, scales, indifference, preference, veto)
credibility

     ITA  BEL  GER  AUT  FRA
ITA  1.0  0.2  0.6  0.2  0.6
BEL  0.0  1.0  0.0  0.0  0.0
GER  0.0  1.0  1.0  0.6  0.2
AUT  0.2  0.2  0.0  1.0  0.0
FRA  1.0  0.2  0.2  0.6  1.0

In [29]:
crisp_table = crisp_cut(credibility, 0.5)
crisp_table

       ITA    BEL    GER    AUT    FRA
ITA   True  False   True  False   True
BEL  False   True  False  False  False
GER  False   True   True   True  False
AUT  False  False  False   True  False
FRA   True  False  False   True   True

In [30]:
find_kernel(crisp_table)

['FRA, ITA', 'BEL']