In [21]:
import sys
import os
sys.path.append(os.path.abspath('../../'))

In [22]:
import pandas as pd

from mcda.electre.concordance import concordance
from mcda.electre.discordance import discordance, discordance_marginal, discordance_marginals, non_discordance, NonDiscordanceType
from mcda.core.scales import QuantitativeScale, PreferenceDirection
from mcda.core.functions import Threshold

In [23]:
alternative_names = ['fiat', 'vwPolo' , 'nissan' , 'toyota' , 'suzuki', 'ford' ]
criteria_names = ['C1', 'C2', 'C3']

In [24]:
fiat = [100, 1000, 6.0]
vwPolo = [150, 5000, 5.7]
nissan = [110, 4000, 6.8]
toyota = [170, 3000, 5.5]
suzuki = [140, 2000, 7.8]
ford = [120, 6000, 8.0]
cars = pd.DataFrame(
    [fiat, vwPolo, nissan, toyota, suzuki, ford],
    index=alternative_names,
    columns=criteria_names,
)
cars

         C1    C2   C3
fiat    100  1000  6.0
vwPolo  150  5000  5.7
nissan  110  4000  6.8
toyota  170  3000  5.5
suzuki  140  2000  7.8
ford    120  6000  8.0

In [25]:
scales = pd.Series([
    QuantitativeScale(100, 500),
    QuantitativeScale(1000, 6000, PreferenceDirection.MIN),
    QuantitativeScale(0.0, 15.0, PreferenceDirection.MIN)
], index=criteria_names)
scales

C1      Scale [100, 500], max direction
C2    Scale [1000, 6000], min direction
C3     Scale [0.0, 15.0], min direction
dtype: object

In [26]:
weights = pd.Series([2, 3, 5], index=criteria_names)
weights

C1    2
C2    3
C3    5
dtype: int64

In [27]:
indefference = pd.Series([
    Threshold(0.1, 10),
    Threshold(0.2, 250),
    Threshold(0.1, 0.3)
], index=criteria_names)

In [28]:
preference = pd.Series([
    Threshold(0.1, 20),
    Threshold(0.3, 500),
    Threshold(0.1, 0.7)
], index=criteria_names)
preference

C1     Threshold: alpha=0.1, beta=20
C2    Threshold: alpha=0.3, beta=500
C3    Threshold: alpha=0.1, beta=0.7
dtype: object

In [29]:
veto = pd.Series([
    Threshold(0.2, 20),
    Threshold(0.3, 700),
    Threshold(0.15, 0.9)
], index=criteria_names)
veto

C1      Threshold: alpha=0.2, beta=20
C2     Threshold: alpha=0.3, beta=700
C3    Threshold: alpha=0.15, beta=0.9
dtype: object

In [30]:
concordance_comp = concordance(cars, scales, weights, indefference, preference)

In [31]:
discordance_marg = discordance_marginals(cars,
    scales,
    preference,
    veto)

In [32]:
non_discordance(discordance_marg, NonDiscordanceType.D)

            fiat    vwPolo  nissan  toyota  suzuki  ford
fiat    1.000000  0.000000       1       0     0.0     1
vwPolo  0.000000  1.000000       1       1     0.0     1
nissan  0.000000  0.181818       1       0     0.0     1
toyota  0.000000  1.000000       1       1     1.0     1
suzuki  0.457627  0.000000       1       0     1.0     1
ford    0.000000  0.000000       1       0     0.0     1

In [33]:
non_discordance(discordance_marg, NonDiscordanceType.DM)

            fiat    vwPolo  nissan  toyota  suzuki  ford
fiat    1.000000  0.000000       1       0     0.0     1
vwPolo  0.000000  1.000000       1       1     0.0     1
nissan  0.000000  0.181818       1       0     0.0     1
toyota  0.000000  1.000000       1       1     1.0     1
suzuki  0.457627  0.000000       1       0     1.0     1
ford    0.000000  0.000000       1       0     0.0     1

In [34]:
non_discordance(discordance_marg, NonDiscordanceType.DC, concordance_comp)

            fiat    vwPolo  nissan  toyota  suzuki  ford
fiat    1.000000  0.000000     1.0     0.0     0.0   1.0
vwPolo  0.000000  1.000000     1.0     1.0     0.0   1.0
nissan  0.000000  0.519481     1.0     0.0     0.0   1.0
toyota  0.000000  1.000000     1.0     1.0     1.0   1.0
suzuki  0.624037  0.000000     1.0     0.0     1.0   1.0
ford    0.000000  0.000000     1.0     0.0     0.0   1.0